<h2>The list of ratings</h2>
<p> Number of ratings: <%= @ratings.count %> </p> 

<ul>
  <% @user.ratings.each do |rating| %>
    <li> 
      <%= rating %> 
      <% if @user == current_user %>
          <%= link_to 'delete', rating, :method => :delete, :data => { :confirm => 'Are you sure?' } %> 
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to 'New Rating', new_rating_path %>

